Week1_Terraform_GCP/terraform/.terraform
Week1_Terraform_GCP/terraform/.terraform.lock.hcl
Week1_Docker_Postgres/ny_taxi
Week1_Docker_Postgres/ny_taxi_postgres_data
Week1_Docker_Postgres/yellow_tripdata_2021-01.csv
Week1_Docker_Postgres/taxi+_zone_lookup.csv